<h1>Stars</h1>

<div class="stars">

  {{#each celebs}}
    <div class="star"> 
    <a href="celebrities/single/{{id}}"><h1>{{name}}</h1></a>
    <img src="{{image}}" alt="celeb image">

    {{#if this.mine}}
      <form action="/celebrities/delete/{{id}}" method="POST">
      <button>Delete</button>
      </form>
      <a href="/celebrities/edit/{{id}}">Update</a>
    {{/if}}
    </div>
    {{/each}}
  
</div>