

<div class="starsingle">
  <img src={{celeb.image}} alt="">
  <div>
    <h1>{{celeb.name}}</h1>
<h2>{{celeb.occupation}}</h2>
<p>{{celeb.catchPhrase}}</p>

<ul>
  <h3>Movies:</h3>
{{#each celeb.movies}}
  <a href="/movies/details/{{id}}"><li>{{title}}</li></a>
{{/each}}
</ul></div>

</div>