<div class="movie">
  <h1>{{movie.title}}</h1>
<img src="{{movie.image}}">

<h3>Genre: {{movie.genre}}</h3>

<p><span class="boldit">Plot: </span>{{movie.plot}}</p> 

  <ul>
    <h3>Actors:</h3>
  {{#each movie.actors}}

  <a href="/celebrities/single/{{id}}"><li>{{name}}</li></a>
  {{/each}}

  </ul>
</div>


